<%- include("partials/header") -%>

    <h1>Home!</h1>
    <p><%= homeStartingContent %></p>

    <div class="container">
        <% posts.forEach(function(post) { %>
            <div>
                <h2 class="text-start"><%= post.title %></h2>
                <p class="text-start">
                    <%= post.content.substring(0, 100) + " ..." %>
                    <a href="/posts/<%= post._id %>">Read More</a>
                </p>
            </div>
        <% }); %>
<%- include("partials/footer") -%>