<%- include("partials/header") -%>

    <h1><%= title %></h1>
    <p class="font-weight-bold">Created by <%= username %> on <%= date %></p>
    <p><%= content %></p>
        
<%- include("partials/footer") -%>